.rdt_Table {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
.rdt_Table .rdt_TableHead {
  height: 48px;
  font-size: 16px;
}
.rdt_Table .rdt_TableHeadRow {
  padding: 0 !important;
}
.rdt_Table .rdt_TableHead .rdt_TableHeadRow,
.rdt_Table tfoot .rdt_TableHeadRow {
  font-weight: bold;
}
.rdt_Table .rdt_TableHead .rdt_TableHeadRow,
.rdt_Table .rdt_TableHead .rdt_TableCol {
}

.rdt_Table .rdt_TableHead .rdt_TableHeadRow:active,
.rdt_Table .rdt_TableHead td:active {
  outline: none;
}
.rdt_Table tfoot .rdt_TableHeadRow,
.rdt_Table tfoot .rdt_TableCol {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
.rdt_Table .rdt_TableHead .sorting,
.rdt_Table .rdt_TableHead .sorting_asc,
.rdt_Table .rdt_TableHead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}
.rdt_Table .rdt_TableHead .sorting,
.rdt_Table .rdt_TableHead .sorting_asc,
.rdt_Table .rdt_TableHead .sorting_desc,
.rdt_Table .rdt_TableHead .sorting_asc_disabled,
.rdt_Table .rdt_TableHead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
.rdt_Table .rdt_TableHead .sorting {
  background-image: url("../icns/datatable/sort_both.png");
}
.rdt_Table .rdt_TableHead .sorting_asc {
  background-image: url("../icns/datatable/sort_asc.png");
}
.rdt_Table .rdt_TableHead .sorting_desc {
  background-image: url("../icns/datatable/sort_desc.png");
}
.rdt_Table .rdt_TableHead .sorting_asc_disabled {
  background-image: url("../icns/datatable/sort_asc_disabled.png");
}
.rdt_Table .rdt_TableHead .sorting_desc_disabled {
  background-image: url("../icns/datatable/sort_desc_disabled.png");
}
.rdt_Table .rdt_TableBody .rdt_TableRow {
  background-color: #ffffff;
}
.rdt_Table .rdt_TableBody tr.selected {
  background-color: #b0bed9;
}
.rdt_Table .rdt_TableBody .rdt_TableHeadRow,
.rdt_Table .rdt_TableBody .rdt_TableCol {
  padding: 8px 10px;
}
.rdt_Table.row-border .rdt_TableBody .rdt_TableHeadRow,
.rdt_Table.row-border .rdt_TableBody .rdt_TableCol,
.rdt_Table .rdt_TableBody .rdt_TableHeadRow,
.rdt_Table .rdt_TableBody .rdt_TableCol {
  border-top: 1px solid #ddd;
}
.rdt_Table.row-border
  .rdt_TableBody
  .rdt_TableRow:first-child
  .rdt_TableHeadRow,
.rdt_Table.row-border .rdt_TableBody .rdt_TableRow:first-child .rdt_TableCol,
.rdt_Table .rdt_TableBody .rdt_TableRow:first-child .rdt_TableHeadRow,
.rdt_Table .rdt_TableBody .rdt_TableRow:first-child .rdt_TableCol {
  border-top: none;
}
.rdt_Table.cell-border .rdt_TableBody .rdt_TableHeadRow,
.rdt_Table.cell-border .rdt_TableBody .rdt_TableCol {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.rdt_Table.cell-border
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableHeadRow:first-child,
.rdt_Table.cell-border .rdt_TableBody .rdt_TableRow td:first-child {
  border-left: 1px solid #ddd;
}
.rdt_Table.cell-border
  .rdt_TableBody
  .rdt_TableRow:first-child
  .rdt_TableHeadRow,
.rdt_Table.cell-border .rdt_TableBody .rdt_TableRow:first-child .rdt_TableCol {
  border-top: none;
}
.rdt_Table.stripe .rdt_TableBody .rdt_TableRow:nth-child(odd),
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd) {
  background-color: #f9f9f9;
}
.rdt_Table.stripe .rdt_TableBody .rdt_TableRow:nth-child(odd).selected,
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd).selected {
  background-color: #acbad4;
}
.rdt_Table.hover .rdt_TableBody .rdt_TableRow:hover,
.rdt_Table .rdt_TableBody .rdt_TableRow:hover {
  background-color: #f6f6f6;
}
.rdt_Table.hover .rdt_TableBody .rdt_TableRow:hover.selected,
.rdt_Table .rdt_TableBody .rdt_TableRow:hover.selected {
  background-color: #aab7d1;
}
.rdt_Table.order-column .rdt_TableBody .rdt_TableRow > .sorting_1,
.rdt_Table.order-column .rdt_TableBody .rdt_TableRow > .sorting_2,
.rdt_Table.order-column .rdt_TableBody .rdt_TableRow > .sorting_3,
.rdt_Table .rdt_TableBody .rdt_TableRow > .sorting_1,
.rdt_Table .rdt_TableBody .rdt_TableRow > .sorting_2,
.rdt_Table .rdt_TableBody .rdt_TableRow > .sorting_3 {
  background-color: #fafafa;
}
.rdt_Table.order-column .rdt_TableBody tr.selected > .sorting_1,
.rdt_Table.order-column .rdt_TableBody tr.selected > .sorting_2,
.rdt_Table.order-column .rdt_TableBody tr.selected > .sorting_3,
.rdt_Table .rdt_TableBody tr.selected > .sorting_1,
.rdt_Table .rdt_TableBody tr.selected > .sorting_2,
.rdt_Table .rdt_TableBody tr.selected > .sorting_3 {
  background-color: #acbad5;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd) > .sorting_1,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(odd)
  > .sorting_1 {
  background-color: #f1f1f1;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd) > .sorting_2,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(odd)
  > .sorting_2 {
  background-color: #f3f3f3;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd) > .sorting_3,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(odd)
  > .sorting_3 {
  background-color: whitesmoke;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd).selected > .sorting_1,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(odd).selected
  > .sorting_1 {
  background-color: #a6b4cd;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd).selected > .sorting_2,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(odd).selected
  > .sorting_2 {
  background-color: #a8b5cf;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(odd).selected > .sorting_3,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(odd).selected
  > .sorting_3 {
  background-color: #a9b7d1;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(even) > .sorting_1,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(even)
  > .sorting_1 {
  background-color: #fafafa;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(even) > .sorting_2,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(even)
  > .sorting_2 {
  background-color: #fcfcfc;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(even) > .sorting_3,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(even)
  > .sorting_3 {
  background-color: #fefefe;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(even).selected > .sorting_1,
.rdt_Table.order-column.stripe .rdt_TableBody tr.evurln.selected > .sorting_1 {
  background-color: #acbad5;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(even).selected > .sorting_2,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(even).selected
  > .sorting_2 {
  background-color: #aebcd6;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:nth-child(even).selected > .sorting_3,
.rdt_Table.order-column.stripe
  .rdt_TableBody
  .rdt_TableRow:nth-child(even).selected
  > .sorting_3 {
  background-color: #afbdd8;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:hover > .sorting_1,
.rdt_Table.order-column.hover .rdt_TableBody .rdt_TableRow:hover > .sorting_1 {
  background-color: #eaeaea;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:hover > .sorting_2,
.rdt_Table.order-column.hover .rdt_TableBody .rdt_TableRow:hover > .sorting_2 {
  background-color: #ececec;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:hover > .sorting_3,
.rdt_Table.order-column.hover .rdt_TableBody .rdt_TableRow:hover > .sorting_3 {
  background-color: #efefef;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:hover.selected > .sorting_1,
.rdt_Table.order-column.hover
  .rdt_TableBody
  .rdt_TableRow:hover.selected
  > .sorting_1 {
  background-color: #a2aec7;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:hover.selected > .sorting_2,
.rdt_Table.order-column.hover
  .rdt_TableBody
  .rdt_TableRow:hover.selected
  > .sorting_2 {
  background-color: #a3b0c9;
}
.rdt_Table .rdt_TableBody .rdt_TableRow:hover.selected > .sorting_3,
.rdt_Table.order-column.hover
  .rdt_TableBody
  .rdt_TableRow:hover.selected
  > .sorting_3 {
  background-color: #a5b2cb;
}
.rdt_Table.no-footer {
  border-bottom: 1px solid #111;
}
.rdt_Table.nowrap .rdt_TableHeadRow,
.rdt_Table.nowrap .rdt_TableCol {
  white-space: nowrap;
}
.rdt_Table.compact .rdt_TableHead .rdt_TableHeadRow,
.rdt_Table.compact .rdt_TableHead .rdt_TableCol {
  padding: 4px 17px 4px 4px;
}
.rdt_Table.compact tfoot .rdt_TableHeadRow,
.rdt_Table.compact tfoot .rdt_TableCol {
  padding: 4px;
}
.rdt_Table.compact .rdt_TableBody .rdt_TableHeadRow,
.rdt_Table.compact .rdt_TableBody .rdt_TableCol {
  padding: 4px;
}
.rdt_Table th.dt-left,
.rdt_Table td.dt-left {
  text-align: left;
}
.rdt_Table th.dt-center,
.rdt_Table td.dt-center,
.rdt_Table td.dataTables_empty {
  text-align: center;
}
.rdt_Table th.dt-right,
.rdt_Table td.dt-right {
  text-align: right;
}
.rdt_Table th.dt-justify,
.rdt_Table td.dt-justify {
  text-align: justify;
}
.rdt_Table th.dt-nowrap,
.rdt_Table td.dt-nowrap {
  white-space: nowrap;
}
.rdt_Table .rdt_TableHead th.dt-head-left,
.rdt_Table .rdt_TableHead td.dt-head-left,
.rdt_Table tfoot th.dt-head-left,
.rdt_Table tfoot td.dt-head-left {
  text-align: left;
}
.rdt_Table .rdt_TableHead th.dt-head-center,
.rdt_Table .rdt_TableHead td.dt-head-center,
.rdt_Table tfoot th.dt-head-center,
.rdt_Table tfoot td.dt-head-center {
  text-align: center;
}
.rdt_Table .rdt_TableHead th.dt-head-right,
.rdt_Table .rdt_TableHead td.dt-head-right,
.rdt_Table tfoot th.dt-head-right,
.rdt_Table tfoot td.dt-head-right {
  text-align: right;
}
.rdt_Table .rdt_TableHead th.dt-head-justify,
.rdt_Table .rdt_TableHead td.dt-head-justify,
.rdt_Table tfoot th.dt-head-justify,
.rdt_Table tfoot td.dt-head-justify {
  text-align: justify;
}
.rdt_Table .rdt_TableHead th.dt-head-nowrap,
.rdt_Table .rdt_TableHead td.dt-head-nowrap,
.rdt_Table tfoot th.dt-head-nowrap,
.rdt_Table tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
.rdt_Table .rdt_TableBody th.dt-body-left,
.rdt_Table .rdt_TableBody td.dt-body-left {
  text-align: left;
}
.rdt_Table .rdt_TableBody th.dt-body-center,
.rdt_Table .rdt_TableBody td.dt-body-center {
  text-align: center;
}
.rdt_Table .rdt_TableBody th.dt-body-right,
.rdt_Table .rdt_TableBody td.dt-body-right {
  text-align: right;
}
.rdt_Table .rdt_TableBody th.dt-body-justify,
.rdt_Table .rdt_TableBody td.dt-body-justify {
  text-align: justify;
}
.rdt_Table .rdt_TableBody th.dt-body-nowrap,
.rdt_Table .rdt_TableBody td.dt-body-nowrap {
  white-space: nowrap;
}
.rdt_Table,
.rdt_Table .rdt_TableHeadRow,
.rdt_Table .rdt_TableCol {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.rdt_Table {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.rdt_Table .dataTables_length {
  float: left;
}
.rdt_Table .dataTables_filter {
  float: right;
  text-align: right;
}
.rdt_Table .dataTables_filter input {
  margin-left: 0.5em;
}
.rdt_Table .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.rdt_Table .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.rdt_Table .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.rdt_Table .dataTables_paginate .paginate_button.current,
.rdt_Table .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fff),
    color-stop(100%, #dcdcdc)
  );
  background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.rdt_Table .dataTables_paginate .paginate_button.disabled,
.rdt_Table .dataTables_paginate .paginate_button.disabled:hover,
.rdt_Table .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.rdt_Table .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #585858),
    color-stop(100%, #111)
  );
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}
.rdt_Table .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #2b2b2b),
    color-stop(100%, #0c0c0c)
  );
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  box-shadow: inset 0 0 3px #111;
}
.rdt_Table .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.rdt_Table .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(25%, rgba(255, 255, 255, 0.9)),
    color-stop(75%, rgba(255, 255, 255, 0.9)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0.9) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0.9) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0.9) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0.9) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0.9) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
.rdt_Table .dataTables_length,
.rdt_Table .dataTables_filter,
.rdt_Table .dataTables_info,
.rdt_Table .dataTables_processing,
.rdt_Table .dataTables_paginate {
  color: #333;
}
.rdt_Table .dataTables_scroll {
  clear: both;
}
.rdt_Table .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.rdt_Table .dataTables_scroll div.dataTables_scrollBody .rdt_TableHeadRow,
.rdt_Table .dataTables_scroll div.dataTables_scrollBody .rdt_TableCol {
  vertical-align: middle;
}
.rdt_Table
  .dataTables_scroll
  div.dataTables_scrollBody
  th
  > div.dataTables_sizing,
.rdt_Table
  .dataTables_scroll
  div.dataTables_scrollBody
  td
  > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.rdt_Table.no-footer div.dataTables_scrollHead table,
.rdt_Table.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}
.rdt_Table:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
@media screen and (max-width: 767px) {
  .rdt_Table .dataTables_info,
  .rdt_Table .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .rdt_Table .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .rdt_Table .dataTables_length,
  .rdt_Table .dataTables_filter {
    float: none;
    text-align: center;
  }
  .rdt_Table .dataTables_filter {
    margin-top: 0.5em;
  }
}

.rdt_Pagination,
.rdt_TableHead,
.rdt_TableHeadRow,
.rdt_Table {
  background: transparent !important;
}
